@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  margin: 10px auto;
  display: block;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#page_start {
  margin-top: 100px;
}

.logo_resistorm {
  letter-spacing: 0.25em;
  text-indent: 0.25em;
  font-weight: 900;
  border: 0.1em solid white;
  color: white;
  margin-bottom: auto;
  margin-right: 0.25em;
}
.logo_studios {
  font-weight: 100;
  color: white;
  margin-top: 5px;
}

#page_header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  flex-direction: row;
  padding: 10px;
  background-color: black;
  width: 100%;
  margin-bottom: 10px;
}
#main_page {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
}

#header_menu_toggle {
  text-decoration-line: none;
  color: white;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5px;
}

#header_navbar a {
  text-decoration-line: none;
  color: white;
  font-weight: 500;
  font-size: 25px;
  margin-right: 20px;
}
#header_navbar a:hover {
  color: teal;
}
#header_logo {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
}

#header_navbar {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: auto;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 25px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
  }
  blockquote {
    font-weight: 100;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #header_menu_toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #side_menu {
    position: fixed;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 100px;
    background-color: teal;
    transition-duration: 0.5s;
  }
  #closebutton {
    text-decoration-line: none;
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
  }
  #header_logo {
    margin: 0 auto;
  }
  #header_navbar {
    margin: 0 auto;
    margin-top: 10px;
  }
  #header_navbar a {
    font-size: 20px;
  }
  #page_header {
    flex-direction: column;
  }
  h2 {
    font-size: 15px;
  }
  #page_center {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  #header_menu_toggle {
    display: none;
  }
  #side_menu {
    position: fixed;
    width: 230px;
    float: left;
    background-color: black;
    border-radius: 18px;
    margin-right: 10px;
  }
  #closebutton {
    display: none;
  }
  #page_center {
    display: block;
    width: 45%;
    margin: 0 auto;
  }
}

#side_menu_content {
  margin-left: 10px;
}
ul {
  list-style-type: none;
}
.caret {
  cursor: pointer;
  user-select: none;
  font-weight: 100;
}
.caret::before {
  content: "\027A7";
  color: white;
  display: inline-block;
  margin-right: 6px;
}
.caret-down a {
  font-weight: 500;
}
.caret-down::before {
  transform: rotate(90deg);
}
.nested {
  display: none;
}
.active {
  display: block;
}
li a {
  text-decoration-line: none;
  color: white;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0em;
  transition-duration: 0.3s;
  word-wrap: unset;
}
li a:hover {
  letter-spacing: 0.1em;
}
.caret {
  line-height: 50px;
}
.nested,
.active {
  margin-left: 30px;
}

/*Category Cards*/
#blog_intro h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 90px;
  text-align: center;
}
#category_section {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category_card {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 28%;
  min-height: 200px;
  box-shadow: 3px 8px 15px black;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.category_card h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.category_card p {
  background-color: rgba(255, 255, 255, 0.6);
  
}

#cat_cloud {
  background-image: url("../res/cat_cloud.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat_computerscience {
  background-image: url("../res/cat_computerscience.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat_ai {
  background-image: url("../res/cat_ai.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat_analytics {
  background-image: url("../res/cat_analytics.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat_trends {
  background-image: url("../res/cat_trends.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat_tutorials {
  background-image: url("../res/cat_tutorial.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
