@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900');
/*MINI SMARTPHONES*/

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p div {
    margin: 0 auto;
    padding: 0;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: black;
    -moz-text-decoration-line: none;
    text-decoration: none;
}

a:visited {
    text-decoration-line: none;
    color: rgb(17, 17, 17);
    -moz-text-decoration-line: none;
    text-decoration: none;
}

#page_header {
    height: 50px;
    box-shadow: 0 5px 10px black;
    overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Roboto';
    }
    h1 {
        font-size: 33px;
        font-weight: 300;
    }
    h2 {
        font-size: 23px;
        font-weight: 300;
    }
    h3 {
        font-size: 18px;
        font-weight: 100;
    }
    h4 {
        font-size: 10px;
        font-weight: 300;
    }
    p {
        font-size: 10px;
        font-weight: 300;
    }
    #leftnavicon {
        display: block;
        float: left;
    }
    #leftnav {
        color: white;
        position: fixed;
        width: 0;
        padding-top: 60px;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        background-color: rgb(82, 82, 82);
        overflow-x: hidden;
        transition: 0.5s;
    }
    #leftnavlist {
        display: block;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 auto 0 5px;
    }
    #leftnavlist li {
        display: block;
        color: white;
        display: list-item;
        list-style: none;
        padding: 2px 5px;
        margin-left: 5px;
    }
    #leftnavlist a {
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    #leftnavlist a:hover {
        font-weight: 700;
    }
    #closebutton {
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 46px;
        margin-left: 75px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Roboto';
    }
    h1 {
        font-size: 72px;
        font-weight: 300;
    }
    h2 {
        font-size: 45px;
        font-weight: 300;
    }
    h3 {
        font-size: 32px;
        font-weight: 300;
    }
    h4 {
        font-size: 29px;
        font-weight: 100;
    }
    p {
        font-size: 14px;
        font-weight: 300;
    }
    #leftnavicon {
        display: block;
        float: left;
    }
    #leftnav {
        color: white;
        position: fixed;
        width: 0;
        padding-top: 60px;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        background-color: rgb(82, 82, 82);
        overflow-x: hidden;
        transition: 0.5s;
    }
    #leftnavlist {
        display: block;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 auto 0 5px;
    }
    #leftnavlist li {
        color: white;
        display: list-item;
        list-style: none;
        padding: 2px 5px;
        margin-left: 5px;
    }
    #leftnavlist a {
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    #leftnavlist a:hover {
        font-weight: 700;
    }
    #closebutton {
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 46px;
        margin-left: 75px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Roboto';
    }
    h1 {
        font-size: 82px;
        font-weight: 300;
    }
    h2 {
        font-size: 55px;
        font-weight: 300;
    }
    h3 {
        font-size: 38px;
        font-weight: 300;
    }
    h4 {
        font-size: 38px;
        font-weight: 100;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
    #leftnavicon {
        display: block;
        float: left;
    }
    #leftnav {
        color: white;
        position: fixed;
        width: 0;
        padding-top: 60px;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        background-color: rgb(82, 82, 82);
        overflow-x: hidden;
        transition: 0.5s;
    }
    #leftnavlist {
        display: block;
        position: static;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto 0 5px;
    }
    #leftnavlist li {
        color: white;
        display: list-item;
        list-style: none;
        padding: 2px 5px;
        margin-left: 5px;
    }
    #leftnavlist a {
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    #leftnavlist a:hover {
        font-weight: 700;
    }
    #closebutton {
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 46px;
        margin-left: 75px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Roboto';
    }
    h1 {
        font-size: 82px;
        font-weight: 300;
    }
    h2 {
        font-size: 55px;
        font-weight: 300;
    }
    h3 {
        font-size: 38px;
        font-weight: 300;
    }
    h4 {
        font-size: 38px;
        font-weight: 100;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
    #leftnavicon {
        display: none;
    }
    #leftnav {
        top: 0;
        left: 0;
        position: static;
        height: 100%;
        width: 700px;
        background-color: white;
        color: black;
        overflow: visible;
        margin: 0;
        padding: 0;
    }
    #leftnavlist{
        display: flex;
        top: 0;
        height:100%;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: nowrap;
        justify-content: left; 
        margin: 0;
        padding: 0;
    }
    #closebutton{
        display: none;
    }
    
    #leftnavlist a{
        display: block;
        width: 200px;
        color: black;
        list-style: none;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        transform: translateY(0px);
        transition-duration: 0.3s; 
    }
    #leftnavlist a:hover{
        font-weight: 500;
        text-shadow: 1px 2px 3px black;
        transform: translateY(-3px);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Roboto';
    }
    h1 {
        font-size: 82px;
        font-weight: 300;
    }
    h2 {
        font-size: 55px;
        font-weight: 300;
    }
    h3 {
        font-size: 38px;
        font-weight: 300;
    }
    h4 {
        font-size: 38px;
        font-weight: 100;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
}